.center {text-align: center;}

.top-right {position: absolute;
            top: 0;
            right: 0;
}
.top-left {position: absolute;
            top: 0;
            left: 0;
}

a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}