{% extends "base.html" %}

{% block content %}

<h1 class="page-header">Добавление тестового вопроса</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.ask.label }}<br>
        {{ form.ask(class="form-control") }}<br>
        {% for error in form.ask.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.ask_type.label }}<br>
        {{ form.ask_type(class="form-control") }}<br>
        {% for error in form.ask_type.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>

    <p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <div>{{ message }}</div>
    </p>
</form>
{% endblock %}