{% extends "base.html" %}
<h1 class="center">Недавние тесты</h1>
{% for i in range(8) %}
    <ul class="list-group list-group-horizontal">
        {% for j in range(4) %}
        <a href="tests/{{ i * j }}" class="list-group-item list-group-item-action active" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ tests[i * j].title }}</h5>
              <small>{{ tests[i * j].created_date }}</small>
            </div>
            <p class="mb-1">Будет фото теста</p>
            <small>{{ tests[i * j].creator.surname }} {{ tests[i * j].creator.name }}</small>
        </a>
        {% endfor %}
    </ul>
{% endfor %}
{% block content %}

{% endblock %}
